@page "/register"
@using GYM_DTOs;
 @using GYM_DTOs.AccountDTO
@inject IAuthService AuthService

@inject NavigationManager NavigationManager


<section class="vh-100" style="background-color: #eee;">

    <div class="container h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrate</p>
                                <EditForm Model="RegisterModel">
                                    <DataAnnotationsValidator />
                                    @*  <ValidationSummary /> *@


                                    @if (ShowErrors)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @foreach (var error in Errors!)
                                            {
                                                <p>@error</p>
                                            }
                                        </div>
                                    }

                                    @if (ShowConfirm)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            @foreach (var message in Confirm!)
                                            {
                                                <p>@message</p>
                                            }
                                        </div>
                                    }

                                    @if (!loadCodePage)
                                    {
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="bi bi-person-fill me-3"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <InputText Id="username" class="form-control" @bind-Value="RegisterModel.Username" />
                                                <ValidationMessage For="@(() => RegisterModel.Username)" />
                                                <label class="form-label" for="form3Example1c">Username</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="bi bi-person-fill me-3"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <InputText Id="fullname" class="form-control" @bind-Value="RegisterModel.FullName" />
                                                <ValidationMessage For="@(() => RegisterModel.FullName)" />
                                                <label class="form-label" for="form3Example1c">FullName</label>
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="bi bi-envelope-at-fill me-3"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <InputText Id="email" class="form-control" @bind-Value="RegisterModel.Email" />
                                                <ValidationMessage For="@(() => RegisterModel.Email)" />
                                                <label class="form-label" for="form3Example3c">Email</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="bi bi-lock-fill me-3"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
                                                <ValidationMessage For="@(() => RegisterModel.Password)" />
                                                <label class="form-label" for="form3Example4c">Password</label>
                                            </div>
                                        </div>
                                        <span><a href="login">¿Tienes una cuenta?, Inicia sesión aquí</a></span>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">

                                            <button @onclick="enterCodeValidation" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Registrarse</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Introduce tu código:</p>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="bi bi-person-fill me-3"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <InputText Id="code" class="form-control" @bind-Value="codeEmailUser" />
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">

                                            <button @onclick="SubmitRegistration" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Confirmar</button>
                                        </div>
                                    }

                                </EditForm>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    private RegisterDTO RegisterModel = new RegisterDTO();
    private bool ShowErrors;
    private IEnumerable<string>? Errors;

    private bool ShowConfirm;
    private IEnumerable<string>? Confirm;

    private bool loadCodePage = false;
    private string codeEmailUser;
    private string codeEmailSend;

    private async Task enterCodeValidation()
    {
        if (RegisterModel.Email != null && RegisterModel.FullName != null && RegisterModel.Password != null && RegisterModel.Username != null)
        {
            loadCodePage = true;
            Errors = null;
            ShowErrors = false;

            var result = await AuthService.SendEmail(RegisterModel.Email);

            if (!result.EsCorrecto)
            {
                Errors = new List<string> { "Error al enviar el correo" };
                ShowErrors = true;
            }
            else
            {
                Errors = null;
                ShowErrors = false;

                Confirm = new List<string> { "Se ha enviado un correo con el código de validación" };
                ShowConfirm = true;
                codeEmailSend = result.Mensaje!;
            }

        }
        else
        {
            ShowErrors = true;
            Errors = new List<string> { "Todos los campos son requeridos" };
        }

    }

    private async Task SubmitRegistration()
    {
        ShowErrors = false;

        if (codeEmailUser != codeEmailSend)
        {
            Errors = new List<string> { "El código ingresado no es correcto" };
            ShowErrors = true;
            return;
        }
        else
        {
            RegisterModel.EmailCode = codeEmailUser;
            var result = await AuthService.Register(RegisterModel);

            if (result.Successful)
            {


                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Errors = result.Errors;
                ShowErrors = true;
            }
        }


    }

}