@page "/dialogcardAdmin"

@inject IGymInstructorService gymInstructorService
@inject IClassService classService
@inject IAuthService AuthService
@inject Radzen.DialogService dialogService
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Instructor")]


<div class="m-3">
    <RadzenStack Gap="1rem" Orientation="Radzen.Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
        <RadzenStack>
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6" Class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                    <RadzenText TextStyle="TextStyle.Subtitle1">Contacto</RadzenText>
                    <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center">

                        <RadzenStack Gap="0" Class="rz-text-truncate">
                            <RadzenText TextStyle="TextStyle.Overline" Class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Usuario</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" Class="rz-text-truncate"><b>@model.FullName</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" Class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Email</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" Class="rz-text-truncate"><b>@model.EmailUser</b></RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6" Class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                    <RadzenText TextStyle="TextStyle.Subtitle1">Informacion del Instructor</RadzenText>
                    <RadzenStack Gap="0" Class="rz-text-truncate">
                        <RadzenText TextStyle="TextStyle.Overline" Class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Rol</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" Class="rz-text-truncate"><b>Instructor</b></RadzenText>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>

            <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
                <RadzenText TextStyle="TextStyle.Subtitle1" Class="rz-m-0">Clases Organizadas:</RadzenText>
            </RadzenStack>
            <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data="@(listClassUser)" ColumnWidth="200px" Density="Density.Compact" AllowAlternatingRows="false">
                <Columns>
                    <RadzenDataGridColumn Property="ClassTypeName" Title="Tipo de Clase" />
                    <RadzenDataGridColumn Property="Schedule" Title="Fecha" />
                </Columns>
            </RadzenDataGrid>
        </RadzenStack>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
            @*             <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Flat" Text="Cerrar" Style="width: 120px" />*@
            <RadzenButton Click="@Cerrar" Variant="Variant.Flat" Text="Volver" Style="width: 120px" />
        </RadzenStack>
    </RadzenStack>

</div>

@code {



    GymInstructorDTO model = new GymInstructorDTO();
    List<ClassDTO> listClassUser = new List<ClassDTO>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        string emailUserIdentificate = await AuthService.GetEmail();

        var result = await gymInstructorService.GymInstructorByEmail(emailUserIdentificate);


        model = result.GymInstructorDTO!;
        listClassUser = await classService.ClassesListByGymInstructor(model.Id);
    }
    // <RadzenImage Path="@order.Employee?.Photo" Style="width: 80px; height: 80px; border-radius: 50%" />

    private void Cerrar()
    {
        NavigationManager.NavigateTo("/");
    }

    private string GetDate(DateTime? date)
    {

        return date?.ToString("dd-MM-yyyy");
    }

    
}
