@page "/reservation"
@using BlazorFronted.Interfaces
@using GYM_DTOs.EntityDTO

@inject IClassTypeService classTypeService;
@inject SweetAlertService Swal
@inject IClassService classService;
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime

<PageTitle>Reservar</PageTitle>


<style>
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead {
        background-color: rgb(3, 17, 41 );
        color: white;
    }

    th {
        background-color: #f2f2f2;
    }

    table tbody tr:hover {
        background-color: rgb(106, 160, 248,0.2 );
    }



    tbody {
        font-size: 18px;
        font-weight: bold;
    }

    .container-reservation {
        max-width: 1500px;
        margin: 0 auto;
    }

    .container-general {
        width: 100%;
        height: 100%;
    }

    .left-section,
    .right-section {
        height: 100%;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-fluid {
        max-width: 80%;
        opacity: 0.8;
        margin-bottom: 2%;
        border-radius: 10px;
        border: 2px solid black;
    }

    #accordion {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 10px;
    }

    .page-background-class {
        position: fixed; /* Fijar la posición para cubrir toda la pantalla */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/backgroungUser.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajustar la imagen de fondo para cubrir toda la pantalla */
        background-repeat: no-repeat; /* Evitar que la imagen se repita */
        background-position: center; /* Posición de la imagen de fondo */
        z-index: -1; /* Colocar la imagen de fondo detrás de los demás elementos */
    }

    .overlay {
        position: fixed; /* Fijar la posición para cubrir toda la pantalla */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Color de fondo con opacidad */
        z-index: -1; /* Colocar la imagen de fondo detrás de los demás elementos */
    }

    .contenedor-volver button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 0;
    }

    .contenedor-volver i {
        font-size: 24px;
    }

    .no-background-card {
        background-color: transparent;
        border: none;
    }

        .no-background-card .card {
            color: #000; /* Asegúrate de que el texto sea visible */
        }

    .btn-custom {
        background-color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

        .btn-custom:hover {
            background-color: #e2e6ea;
        }

        .btn-custom:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

    .card-custom {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header-custom {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #f8f9fa;
    }

    .icon-button-container {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .icon-button-container i {
            margin-right: 10px;
            font-size: 20px;
            color: #000;
        }

    .custom-header {
        background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
        padding: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }

        .custom-header i {
            font-size: 24px;
            margin-right: 10px;
        }

        .custom-header h5 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

    .custom-button {
        background-color: rgb(3, 17, 41 );
        color: #000;
    }

    .custom-card {
        background-color: #222;
        display: flex;
        align-items: center;
        padding: 10px;
    }

        .custom-card .icon {
            margin-right: 10px;
            color: #d0e0ff;
        }

        .custom-card .text {
            flex-grow: 1;
        }

        .custom-card .arrow-icon {
            margin-left: auto;
            color: #d0e0ff;
        }

    .no-padding {
        padding: 0;
    }

    .custom-card:hover {
        background-color: #646460;
    }

    .custom-button:hover {
        background-color: #646460;
    }

    .scrollable-table {
        /* display: block; */
        max-height: 400px; /* Ajusta este valor según tus necesidades */
        overflow-y: auto;
        margin: 0 auto; /* Centrar el contenedor */
    }

        .scrollable-table::-webkit-scrollbar {
            width: 10px; /* Ajusta el ancho del scrollbar */
        }

        .scrollable-table::-webkit-scrollbar-track {
            background: transparent; /* Color de fondo del track */
        }

        .scrollable-table::-webkit-scrollbar-thumb {
            background: #888; /* Color de la barra */
            border-radius: 5px; /* Bordes redondeados de la barra */
        }

            .scrollable-table::-webkit-scrollbar-thumb:hover {
                background: #555; /* Color de la barra al pasar el cursor por encima */
            }

</style>
<div class="page-background-class"></div>
<div class="overlay"></div>


<div class="container-general">
    <div class="container-reservation">

        <div class="row w-100 m-auto">
            <div class="col-md-4">
                <div class="left-section mt-5">

                    <img src="img/fondo-reservas.png" alt="Imagen" class="img-fluid">


                    <div class="container mb-3">
                        <button class="btn custom-button w-100 fw-bolder text-white" @onclick="(() => ShowScheduleSection())">Reservar por <em>TIPOS DE CLASES</em></button>
                        <button class="btn custom-card mt-3 w-100" @onclick="(() => ShowScheduleReservation())">
                            <i class="icon bi bi-calendar-event-fill ms-4"></i>
                            <span class="text fw-bolder text-white">Horarios</span>
                            <i class="icon bi bi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="right-section">
                    <div id="accordion">
                        <div class="card no-background-card">
                            @if (!showScheduleSection)
                            {
                                <BlazorFronted.Pages.Classes.Classes>   </BlazorFronted.Pages.Classes.Classes>
                            }
                            else
                            {
                                @if (!showReservationSection)
                                {
                                    @if (listClassType is null)
                                    {
                                        @if (Errors != null)
                                        {
                                            <div class="d-flex justify-content-center align-items-center text-white fw-bolder mt-5">
                                                @Errors.FirstOrDefault()
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex justify-content-center align-items-center">
                                                <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        @foreach (var item in listClassType)
                                        {
                                            <div class="container mt-2">
                                                <div class="icon-button-container">
                                                    <i class="bi bi-geo-alt"></i>
                                                    <button class="btn btn-custom text-black" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" @onclick="(() => ToggleReservationSection(true,item.Name))">
                                                        @item.Name
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="container mt-2">
                                        <div class="contenedor-volver">
                                            <button class="bg-light border-0" @onclick="(() => ToggleReservationSection(false))">
                                                <i class="bi bi-arrow-left"></i>
                                            </button>
                                        </div>

                                        <h4 class="text-white text-center">Clases de @ClassTypeSelected</h4>
                                        @if (ShowErrors)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @foreach (var error in Errors!)
                                                {
                                                    <p>@error</p>
                                                }
                                            </div>
                                        }
                                        <div class="table-responsive scrollable-table">

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center ">Instructor</th>
                                                        <th class="text-center">Fecha</th>
                                                        <th class="text-center">Hora</th>
                                                        <th class="text-center">Capacidad</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (listClass is null || listClass.Count == 0)
                                                    {
                                                        <tr>
                                                            <td colspan="5" class="text-center text-white">
                                                                No hay clases disponibles de @ClassTypeSelected
                                                            </td>
                                                        </tr>


                                                    }
                                                    else
                                                    {
                                                        @foreach (var classes in listClass)
                                                        {
                                                            <tr>
                                                                <td class="text-center text-white">@classes.GymInstructorName</td>
                                                                <td class="text-center text-white">@GetDate(classes.Schedule)</td>
                                                                <td class="text-center text-white">@classes.Schedule.TimeOfDay.ToString(@"hh\:mm") - @AddMinutes(classes.Schedule, 60)</td>
                                                                <td class="text-center text-white">@classes.TotalReservations/@classes.Capacity</td>

                                                                @if (classes.Schedule < DateTime.Now)
                                                                {
                                                                    <td>
                                                                        <button class="btn btn-info">Clase Cerrada</button>

                                                                    </td>
                                                                }
                                                                else if (ClassIsReservedByUser(classes))
                                                                {
                                                                    <td>
                                                                        <button class="btn btn-danger" @onclick="(() => CancelReservation(classes))">Cancelar Reserva</button>
                                                                    </td>
                                                                }
                                                                else if (classes.TotalReservations == classes.Capacity)
                                                                {
                                                                    <td>
                                                                        <button class="btn btn-secondary">Clase llena</button>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <button class="btn btn-primary" @onclick="(() => MakeReservation(classes))">Hacer Reserva</button>
                                                                    </td>
                                                                }

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@code {

    ClassTypeListResult classTypeResult = new ClassTypeListResult();
    IEnumerable<ClassTypeDTO>? listClassType;
    ResponseAPI<List<ClassDTO>> resultAPI = new ResponseAPI<List<ClassDTO>>();
    List<ClassDTO> listClass = null;
    List<ClassDTO> listClassByUser = null;

    private bool ShowErrors;
    private IEnumerable<string>? Errors;

    string ClassTypeSelected = string.Empty;
    string emailUserIdentificate = string.Empty;


    private bool showScheduleSection;
    private bool showReservationSection;

    protected override async Task OnInitializedAsync()
    {
        showReservationSection = false;
        showScheduleSection = false;
        classTypeResult = await classTypeService.ClassTypeList();
        listClassType = classTypeResult.ListClass;
        if (listClassType is null)
        {
            Errors = new List<string> { "No hay tipos de clases actualmente.\n¡VUELVE PRONTO!" };
            ShowErrors = true;
        }
        emailUserIdentificate = await AuthService.GetEmail();
    }

    private async Task ToggleReservationSection(bool value, string classType = null)
    {
        showReservationSection = value;
        if (classType != null)
        {
            resultAPI = await classTypeService.GetClassByType(classType);

            listClass = resultAPI.Value!;
            listClass = listClass.Where(x => x.Schedule.Date >= DateTime.Now.Date).OrderBy(X => X.Schedule).ToList();
            ClassTypeSelected = classType;
        }
        listClassByUser = await classService.GetClassesByGymMember(emailUserIdentificate);

    }

    private async Task ShowScheduleSection()
    {
        showScheduleSection = true;
    }

    private async Task ShowScheduleReservation()
    {
        showScheduleSection = false;
    }

    private string AddMinutes(DateTime time, int minutes)
    {
        var addHour = time.AddMinutes(minutes);
        return addHour.TimeOfDay.ToString(@"hh\:mm");
    }

    private string GetDate(DateTime date)
    {

        return date.ToString("dd/MM/yyyy");
    }

    private bool ClassIsReservedByUser(ClassDTO clase)
    {
        if (listClassByUser == null || listClassByUser.Count == 0)
        {
            return false;
        }

        foreach (var item in listClassByUser)
        {
            if (item.Id == clase.Id)
            {

                return true;
            }
        }



        return false;
    }

    private async Task MakeReservation(ClassDTO model)
    {
        var fechaActual = DateTime.Now;
        if (model.Schedule.Date > fechaActual.Date)
        {
            var confirmReservation = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Reserva",
                    Text = "¿Deseas Reservar esta clase?",
                    Icon = SweetAlertIcon.Info,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Si",
                    CancelButtonText = "No"
                });

            if (confirmReservation.IsConfirmed)
            {
                var result = await classService.MakeReservation(model.Id, emailUserIdentificate);

                if (result.Correct)
                {
                    await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reserva",
                            Text = "Reserva realizada con exito",
                            Icon = SweetAlertIcon.Success
                        });



                    var sendEmailRequest = new SendEmailRequest(emailUserIdentificate, "Clase reservada en GYM PAG",
                                        "Reserva realizada con éxito, la clase con fecha: " + GetDate(model.Schedule) + "\nTipo de Clase: " + model.ClassTypeName + "\nInstructor: " + model.GymInstructorName);

                    var resultSendEmail = await AuthService.SendEmail(sendEmailRequest);

                    if (!resultSendEmail.Correct)
                    {
                        Errors = new List<string> { "Error al enviar el correo" };
                        ShowErrors = true;
                    }

                    // model.TotalReservations++;
                    // StateHasChanged();
                    await JSRuntime.InvokeVoidAsync("window.location.reload");

                }
                else
                {
                    await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reserva",
                            Text = result.Menssage,
                            Icon = SweetAlertIcon.Error
                        });


                }
            }
        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Reserva",
                    Text = "No puedes reservar una clase cerrada",
                    Icon = SweetAlertIcon.Error
                });
            return;
        }



    }

    private async Task CancelReservation(ClassDTO model)
    {
        var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Reserva",
                Text = "¿Deseas Cancelar la reserva de esta clase?",
                Icon = SweetAlertIcon.Info,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
            });

        if (resultado.IsConfirmed)
        {
            var result = await classService.CancelReservation(model.Id, emailUserIdentificate);

            if (result.Correct)
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Reserva",
                        Text = "Reserva cancelada con exito",
                        Icon = SweetAlertIcon.Success
                    });


                var sendEmailRequest = new SendEmailRequest(emailUserIdentificate, "Cancelación de clase en GYM PAG",
                                    "Cancelación realizada con éxito, la clase con fecha: " + GetDate(model.Schedule) + "\n, -Tipo de Clase: " + model.ClassTypeName + "\n, -Instructor: " + model.GymInstructorName);

                var resultSendEmail = await AuthService.SendEmail(sendEmailRequest);

                if (!resultSendEmail.Correct)
                {
                    Errors = new List<string> { "Error al enviar el correo" };
                    ShowErrors = true;
                }


                await JSRuntime.InvokeVoidAsync("window.location.reload");

            }
            else
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Reserva",
                        Text = "No se pudo cancelar la reserva",
                        Icon = SweetAlertIcon.Error
                    });

                await JSRuntime.InvokeVoidAsync("window.location.reload");

            }
        }
    }

}
